In [1]:
import pandas as pd

In [2]:
news=pd.read_csv("dawnnews.csv")

In [3]:
news.head()

,PageType,Link_paper,Date,Link_news,Headline
0,front-page,https://www.dawn.com/newspaper/front-page/2010...,2010-08-30,https://www.dawn.com/news/558270/unprecedented...,Unprecedented briefing planned by Taliban
1,front-page,https://www.dawn.com/newspaper/front-page/2010...,2010-08-30,https://www.dawn.com/news/558149/economic-deci...,Economic decisions taken by cabinet ignored
2,front-page,https://www.dawn.com/newspaper/front-page/2010...,2010-08-30,https://www.dawn.com/news/558148/crisis-called...,Crisis called Pakistan`s Katrina Kerry urges w...
3,front-page,https://www.dawn.com/newspaper/front-page/2010...,2010-08-30,https://www.dawn.com/news/558131/the-unbearabl...,The unbearable lightness of Pakistan cricket
4,front-page,https://www.dawn.com/newspaper/front-page/2010...,2010-08-30,https://www.dawn.com/news/558130/pakistan-cric...,Pakistan cricket dealt another hard blow

In [4]:
news=news.drop(["PageType","Link_paper","Link_news"],axis=1)
news.head()

         Date                                           Headline
0  2010-08-30          Unprecedented briefing planned by Taliban
1  2010-08-30        Economic decisions taken by cabinet ignored
2  2010-08-30  Crisis called Pakistan`s Katrina Kerry urges w...
3  2010-08-30       The unbearable lightness of Pakistan cricket
4  2010-08-30           Pakistan cricket dealt another hard blow

In [5]:
news['Date'] = pd.to_datetime(news['Date']).dt.date

In [6]:
news2=pd.read_csv('finalnews.csv')

In [7]:
news2.head()

         Date                                           Headline
0  2020-03-01  South Africa whip Pakistan women to make T20 W...
1  2020-03-01  Sindh extends closure of educational instituti...
2  2020-03-02  Karachi Kings rout Islamabad United by 5 wicke...
3  2020-03-01  Javeria Khan becomes fourth Pakistani woman cr...
4  2020-03-01  Afghan leadership must now decide what kind of...

In [8]:
news.shape

(19098, 2)

In [9]:
news2.shape

(6929, 2)

In [10]:
news=news.append(news2)
news.shape

(26027, 2)

In [11]:
news=news.reset_index()

In [12]:
news.to_csv("news_corpus.csv")

In [13]:
news.head()

   index        Date                                           Headline
0      0  2010-08-30          Unprecedented briefing planned by Taliban
1      1  2010-08-30        Economic decisions taken by cabinet ignored
2      2  2010-08-30  Crisis called Pakistan`s Katrina Kerry urges w...
3      3  2010-08-30       The unbearable lightness of Pakistan cricket
4      4  2010-08-30           Pakistan cricket dealt another hard blow

In [21]:
tribune=pd.read_csv("Business_news_tribune.csv")

In [22]:
tribune.head()

,Sr No.,link,tagline,news,published date
0,0,https://tribune.com.pk/story/2109902/2-strong-...,'Strong stocks rally reflects investor confide...,KSE-100 Index's 14.9% gain in November is high...,"December 1, 2019"
1,1,https://tribune.com.pk/story/2109584/2-japan-m...,Japan mulls over $92 billion stimulus package ...,Govt will finalise package early next week aft...,"December 1, 2019"
2,2,https://tribune.com.pk/story/2109590/2-weekly-...,Weekly review: KSE-100 surges for fifth straig...,"Index gains 1,362 points as policy rate decisi...","December 1, 2019"
3,3,https://tribune.com.pk/story/2109602/2-pakista...,Pakistan Refinery searches for Chinese partners,Investors will provide vital financing for ref...,"December 1, 2019"
4,4,https://tribune.com.pk/story/2109600/2-psx-app...,PSX to appoint Pakistani national as CEO this ...,Decision on hiring will be taken by end of Dec...,"December 1, 2019"

In [23]:
tribune=tribune.drop(["Sr No.","link"],axis=1)
tribune.columns = ['Headline','News','Date']
tribune['Date'] = pd.to_datetime(news['Date'])
tribune=tribune.groupby(['Date']).agg(lambda col: ','.join(col))
tribune['Combined_News'] = tribune[['Headline', 'News']].apply(lambda x: ', '.join(x), axis = 1)
tribune=tribune.drop(["Headline","News"],axis=1)

In [25]:
tribune.to_csv("tribune_final.csv")